body {
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  margin: 0;
  box-sizing: border-box;
}
.traffic-light {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 0.75rem;
  padding: 1.5rem;
  border-radius: 1rem;
}
.light {
  height: 5rem;
  aspect-ratio: 1/1;
  background-color: gray;
  border-radius: 100000px;
}
button {
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 1.25rem;
  border: none;
}
#stop {
  background-color: red;
}
#wait {
  background-color: orange;
}
#go {
  background-color: green;
}
